[submodule "api-python"]
	path = api-python
	url = https://github.com/jifalops/api-python.git
	branch = multi-container
[submodule "api-rust"]
	path = api-rust
	url = https://github.com/jifalops/api-rust.git
	branch = multi-container
[submodule "native-tauri"]
	path = native-tauri
	url = https://github.com/jifalops/native-tauri.git
	branch = multi-container
[submodule "web-svelte"]
	path = web-svelte
	url = https://github.com/jifalops/svelte-static.git
	branch = multi-container
